:root {
	box-sizing: border-box;
	--black: #272727;
	--gray: #2F2F2F;
	--white: #FFFFFF;
	--gold: #EFC58B;
}

:focus {
	outline: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Futura PT Demi';
	src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
		 url('../fonts/FuturaPT-Demi.woff') format('woff');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
		 url('../fonts/FuturaPT-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Futura PT Light';
	src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
		 url('../fonts/FuturaPT-Light.woff') format('woff');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Segoe UI Italic';
	src: url('../fonts/SegoeUI-Italic.woff2') format('woff2'),
		 url('../fonts/SegoeUI-Italic.woff') format('woff');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Segoe UI Italic Light';
	src: url('../fonts/SegoeUI-LightItalic.woff2') format('woff2'),
		 url('../fonts/SegoeUI-LightItalic.woff') format('woff');
	font-style: italic;
	font-weight: 300;
}

body {
	font-family: 'Futura PT';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	/* letter-spacing: 0.06em; */
	background-color: var(--white);
		/* background-color: #000; */

	color: var(--white);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.header {
	height: 1061px;
	margin-bottom: 20px;
}

.container {
	max-width: 1136px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 70px;
	position: relative;
	z-index: 2022;
}

.header__icons {
	margin-left: 595px;
	margin-right: 80px;
}

.header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.list__item:last-child {
	display: flex;
	justify-content: space-between;
	width: 36px;
}

.list__item-link svg path{
	transition: all 0.5s ease 0s;
}

.list__item-link:hover path {
	stroke: var(--gold);
}

.list__item-link.--heart:hover path {
	stroke: red;
}

.nav__btn {
	width: 30px;
	height: 16px;
	position: relative;
}

.nav__btn::before,
.nav__btn::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--white);
	position: absolute;
	left: 0;
	transition: all 0.5s ease 0s;
}

.nav__btn span {
	width: 100%;
	height: 2px;
	background-color: var(--white);
	position: absolute;
	top: 7px;
	left: 0;
	transition: all 0.5s ease 0s;
}

.nav__btn::before {
	top: 0;
}

.nav__btn::after {
	bottom: 0;
}

.nav__btn.active span {
	transform: scale(0);
}

.nav__btn.active::before {
	transform: rotate(45deg);
	top: 9px;
}

.nav__btn.active::after {
	transform: rotate(-45deg);
	top: 9px;
}

.header__inner {
	display: flex;
	margin-bottom: 60px;
}

.header__inner-left {
	width: 868px;
	height: 100%;
	display: flex;
	margin-top: 325px;
	/* gap: 94px; */
	background-color: transparent;
}

/* .header__inner-left span {
	
} */

.inner-left__decor {
	width: 130px;
	height: 1px;
	color: var(--black);
	background-color: var(--black);
	display: inline-block;
	margin-right: 38px;
	margin-left: 120px;
}

.inner-left__title {
	font-family: 'Forum', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 71px;
	letter-spacing: 0.03em;
	color: var(--black);
	margin-bottom: 50px;
	text-transform: uppercase;
}

.inner-left__text {
	font-family: 'Segoe UI Italic Light';
	font-style: italic;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: var(--black);
}

.header__inner-right {
	width: 562px;
	/* width: 100%; */
	height: 1061px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--black);
	padding-top: 170px;
}

.inner-left__img {
	z-index: 1;
	margin-left: 94px;
	margin-right: -40px;
	align-self: start;
}

/* .nav__btn[aria-pressed="true"] .header__inner {
	display: none;
} */

.inner__language {
	font-family: 'Futura PT';
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--black);
	margin-top: 359px;
	/* color: #C4C4C4; */
}

.nav__btn:hover .header__inner-right {
	width: 100%;
}

.nav__btn:hover .header__nav {
	visibility: visible;
}

.nav__btn:hover .inner-right__content {
	visibility: visible;
}

.header__nav {
	max-width: 1440px;
	/* height: 75px; */
	margin-bottom: 400px;
	background-color: #2F2F2F;
	visibility: hidden; /*!*/
}

.header__nav-list {
	height: 75px;
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	gap: 50px;
}

.nav-list__item {
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	/* transition: all 3s ease-out; */
}

.nav-list__item:hover {
	border-bottom: 2px solid var(--white);	
}

.nav-list__item:hover .hidden__submenu {
	display: flex;	
}

.list__item-text {
	font-weight: 450;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.06em;
	color: var(--white);
	text-transform: uppercase;
}

.hidden__submenu {
	width: 1136px;
	display: none;
	gap: 100px;
	position: absolute;
	top: 140px;
	left: 0;
}

.submenu__list-item:first-child {
	margin-bottom: 30px;
}

.submenu__list-item + .submenu__list-item {
	margin-bottom: 15px;
}

.submenu__list-item:nth-child(7) {
	font-family: 'Segoe UI Italic Light';
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	color: var(--gold);
}

.list-item__title {
	font-family: 'Futura PT Demi';
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.list-item__link {
	font-family: 'Futura PT Light';
}

.inner-right__content {
	height: 414px;
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
	border-top: 2px solid var(--gray);
	visibility: hidden; /*!*/
}

.content__banner {
	width: 749px;
	height: 268px;
	/* background-color: rgba(39, 39, 39, 0.5); */
	background-image: url(../images/header-banner.jpg);
	border-radius: 2px;
	position: relative;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.content__banner::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* background-color: rgba(39, 39, 39, 0.5); */
	background: linear-gradient(to bottom, rgba(39, 39, 39, 0.5), transparent);
	border-radius: 2px;
}

.banner__text {
	position: relative;
	margin-left: 30px;
}

.banner__text:last-child {
	align-self: flex-end;
	margin-right: 84px;
}

.banner__text:last-child::after {
	content: '';
	width: 33px;
	height: 19px;
	position: absolute;
	top: 3px;
	right: -53px;
	background-image: url(../images/arrow-right.svg);
}

.banner__title {
	font-family: 'Forum', cursive;
	font-weight: 400;
	font-size: 48px;
	line-height: 53px;
	position: relative;
	align-self: center;
	text-transform: uppercase;
}

.contacts__content {
	margin-bottom: 45px;
}

.contacts__title {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.contacts__tel {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Futura PT Light';
	font-weight: 300;
	color: #C2C2C2;
}

.social {
	margin-right: 20px;
}

.social:hover svg path {
	fill: var(--gold);
}

.social svg path {
	transition: all 0.5s ease-out;

}

.contacts__form form {
	margin-top: 15px;
	margin-bottom: 15px;
}

.form__input {
	/* width: 280px; */
	width: 100%;
	padding-bottom: 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--white);
	overflow: hidden;
	position: relative;
}

.form__input::after {
	content: '';
	width: 28px;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../images/arrow-right.svg);
}

.form__input,
.form__input::placeholder {
	font-family: 'Futura PT Light';
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
	color: #C2C2C2;
}

.form__input:focus {
	outline: none;
}

.main {
	margin-bottom: 20px;
}

.main__grid-container {
	max-width: 1440px; /*!*/
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns:  1fr 1fr;
	grid-gap: 20px;
	margin: 0 auto; /*!*/
}

.grid-item {
	/* width: 710px; */
	height: 587px;
	/* background: rgba(39, 39, 39, 0.4); */
	background-color: var(--gray);
}

.grid-item__banner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.grid-item__banner::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(39, 39, 39, 0.5), transparent);
}

.grid-item.--one {
	background-image: url(../images/main-img-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-item.--two {
	background-image: url(../images/main-img-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-banner__text {
	font-family: 'Futura PT Light';
	font-weight: 300;
	font-size: 24px;
	line-height: 31px;
}

.grid-banner__title {
	font-family: 'Forum', cursive;
	font-weight: 400;
	font-size: 64px;
	line-height: 71px;
	letter-spacing: 0.03em;
	position: relative;
}

.grid-banner__title a {
	transition: all 0.3s ease-out;
}

.grid-banner__title::after {
	content: '';
	width: 130px;
	height: 1px;
	position: absolute;
	bottom: -30px;
	right: 31%;
	background-color: var(--white);
}

.grid-banner__title a:hover,
.grid-banner__title a:focus {
	color: var(--gold);
}

.grid-item__contacts {
	height: 100%;
	display: flex;
}

.grid-item__form {
	flex: 0 0 710px;
	align-self: center;
}

.grid-contacts__form {
	width: 386px;
	margin: 0 auto;
}

.grid-contacts__title {
	font-family: 'Forum', cursive;
	font-weight: 400;
	font-size: 48px;
	line-height: 53px;
	letter-spacing: 0.03em;
}

.grid-contacts__text {
	font-family: 'Futura PT Light';
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
	margin-top: 16px;
	margin-bottom: 60px;
}

.--three {
	grid-column-start: 1;
	grid-column-end: -1;
}

.grid-item__map {
	width: 100%;
	height: 100%;
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	position: relative;
}

.map-target__name {
	font-family: 'Futura PT Light';
	font-weight: 300;
	width: 134px;
	height: 43px;
	display: inline-block;
	margin-top: 115px;
	padding: 10px;
	background: rgba(103, 103, 103, 0.58);
	border-radius: 2px;
}

.map-target__loc {
	position: absolute;
}

.map-target__loc.--cursor {
	top: 220px;
	left: 285px;
}

.map-target__loc.--target {
	top: 165px;
	left: 260px;
}

.map-target__loc.--one {
	top: 140px;
	left: 90px;
}

.map-target__loc.--two {
	top: 225px;
	left: 375px;
}

.map-target__loc.--three {
	bottom: 177px;
	left: 480px;
}

.map-target__loc.--four {
	bottom: 125px;
	left: 270px;
}

.products {
	margin-bottom: 20px;
}

.products__grid-container {
	width: 1440px;
	height: 820px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px;
}

.prod__grid-item {
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: #EDEDED;
}

.prod__grid-item.--central {
	width: 600px;
	height: 820px;
	grid-row-start: 1;
	grid-row-end: -1;
	grid-column-start: 2;
	grid-column-end: 2;
	background-image: url(../images/prod-img-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.prod-item__img {
	max-width: 260px;
	height: auto;
	align-self: center;
}

.prod__grid-item:nth-child(1) .prod-item__info,
.prod__grid-item:nth-child(4) .prod-item__info {
	margin-top: 67px;
}

.prod-item__info {
	margin-bottom: 20px;
	margin-left: 30px;
}

.prod-item__title {
	font-family: 'Futura PT Light';
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--black);
}

.prod-item__text {
	font-family: 'Futura PT Light';
	font-weight: 300;
	color: #757575;
	margin-top: 10px;
	margin-bottom: 10px;
}

.prod-item__price {
	font-family: 'Segoe UI';
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #EFC58B;
}

.--central .prod-item__title {
	color: var(--white);
}

.--central .prod-item__text {
	color: #E7E7E7;
}

.--central .prod-item__price {
	color: var(--gold);
}

.slider {
	width: 1440px;
	/* height: 886px; */
	padding: 100px 0;
	background-color: var(--black);
}

.design-slider {
	margin: 80px 0;
}

.slider__item-img {
	max-width: 385px;
	height: 385px;
	margin: 0 12.5px;
}

/* .slider__item-img.--one,
.slider__item-img.--three,
.slider__item-img.--five {
	width: 308px !important;
} */

/* .slick-track {
	margin-left: 160px;
} */

.slider-nav {
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.slick-nav {
	position: relative;
}

.arrow {
	position: absolute;
	top: -12px;
	right: 0;
	z-index: 10;
	cursor: pointer;
}

.arrow-left {
	transform: translateX(-284px);
}

.slick-dots {
	display: flex;
	/* justify-content: space-between; */
	gap: 17px;
	margin-right: 110px;
	list-style: none;
	/* position: absolute; */
}

.slick-dots li {
	width: 8px;
	height: 8px;
}

.slick-dots button {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	padding: 0;
	background-color: #656565;
	color: transparent;
	font-size: 24px;
	line-height: 28px;
	opacity: 0.5;
	cursor: pointer;
}

.slick-active button {
	background-color: var(--white);
	border: 2px solid var(--white);
}

.contacts__container {
	display: flex;
}

.content__contacts {
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content__contacts .contacts__title {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 23px;
	color: var(--black);
}

.content__contacts :is(.contacts__tel, input) {
	color: #959595;
}

.content__contacts .form__input::placeholder {
	color: #959595;
}

.content__contacts input {
	width: 280px;
	font-size: 22px;
	line-height: 28px;
	border-bottom: 2px solid var(--black);
}

.content__contacts .contacts__content {
	margin-bottom: 110px;
}

.footer {
	padding-top: 80px;
	padding-bottom: 50px;
	background-color: var(--black);
}

.footer__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 90px;
}

.footer__nav-item {
	font-family: 'Futura PT';
	font-weight: 450;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white);
}

.footer__contacts {
	display: flex;
}

.footer__contacts .contacts__content {
	margin-left: 314px;
	margin-right: 80px;
}

.footer__contacts .contacts__title {
	white-space: nowrap;
}

.footer__contacts input {
	width: 280px;
}